@media(min-width: 768px) {

    /*common*/
    .wrapper {
        padding: 0 40px;
    }

    .title {
        text-align: left;
    }

    /*header*/
    .header.fixed {
        padding: 30px 0;
    }

    .navigation {
        display: block;
    }

    .navigation__list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .navigation__link {
        font-size: 16px;
        text-transform: uppercase;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--red);
        }
    }

    .burger {
        display: none;
    }

    /*end header*/

    /*mobile menu*/
    .mobile-menu {
        display: none;
    }

    /*end mobile menu*/
    /*end common*/

    /*main*/
    .main__wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main__info {
        max-width: 67vw;
    }

    /*end main*/

    /*works*/
    .works__item {
        max-width: unset;
        display: flex;
        gap: 20px;
    }

    .works__img {
        max-width: 47%;
        flex-shrink: 0;
    }

    .works__info {
        margin: 0;
    }

    .works-btn__wrapper {
        text-align: left;
    }

    /*end works*/
}

@media(min-width: 1024px) {

    /*common*/
    body {
        font-size: 18px;
        line-height: 22px;
    }

    section {
        margin-top: 140px;
    }

    .title {
        margin: 0;
        font-size: 30px;
        line-height: 37px;
    }

    .title-medium {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 80px;
    }

    /*header*/
    .header {
        padding: 40px 0;
    }

    .header.fixed {
        max-width: 1350px;
        left: 50%;
        transform: translateX(-50%);

        .header__wrapper.wrapper {
            padding: 0 25px;
        }
    }

    .navigation__list {
        gap: 50px;
    }

    .navigation__link {
        font-size: 20px;
    }


    /*end header*/

    /*footer*/
    .footer {
        margin-top: 80px;
        padding-bottom: 80px;
    }

    .footer__wrapper {
        flex-direction: row;
        justify-content: center;
        gap: 90px;
    }

    /*end footer*/
    /*end common*/

    /*main*/
    .main {
        padding-top: 160px;
    }

    .main__wrapper {
        margin: 0;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1121px;
    }

    .main__photo {
        width: 201px;
        height: 201px;
        margin: 0;
    }

    .main-btn__wrapper {
        text-align: left;
    }

    .main__list-item {
        padding-left: 40px;

        &::before {
            width: 20px;
            height: 20px;
        }

        &+& {
            margin-top: 20px;
        }
    }

    .main__info {
        max-width: unset;
        flex-basis: 75%;
    }

    /*end main*/

    /*skills*/
    .skills__item {
        width: 201px;
        height: 201px;
    }

    .skills__scroll {
        gap: unset;
    }

    /*end skills*/

    /*works*/
    .works__img {
        max-height: 810px;
    }

    .works__title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .works__links {
        margin-top: 20px;
    }

    .works__info-item {
        &+& {
            margin-top: 40px;
        }
    }

    .works__item {
        &+& {
            margin-top: 70px;
        }
    }

    /*end works*/
}

@media(min-width: 1440px) {
    .wrapper {
        padding: 0 193px;
    }

    .header.fixed {
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    }
}

@media(min-width: 1920px) {
    .wrapper {
        padding: 0 258px;
    }
}